@model IEnumerable<Code>

@{
    ViewData["Title"] = "HICS";
}

<div class="container">


    @*<form asp-controller="Home" asp-action="Activation" method="post">

        </form>*@

    @* This is to show the code buttons only. data-toggle is used to open popup*@

    @foreach (var item in Model)
    {

        <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#ModalCenter">

            @Html.DisplayFor(x => item.CodeName)

        </button>
        <span></span>
    }


</div>
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter your badge number" name="Id" aria-label="Badge Number" aria-describedby="button-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Validate</button>
                    </div>
                </div>
                @*@Html.DisplayNameFor(x => x.CodeName)*@ Code Blue in Ward 1 Will be activated
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form asp-controller="Home" asp-action="Activation" method="post">
                    <input type="submit" class="btn btn-primary form-control" name="btnActivate" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div>

@*<style>
        .button {
            padding: 14px 40px;
            border-radius: 6px;
        }
    </style>*@


<script>
</script>




@*<div align="center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    </div>

    <div align="center" style="padding:20px">
        <button role="button" class="btn btn-success btn-lg button" data-toggle="modal" data-target="#exampleModalCenter">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        @using (Html.BeginForm("indexx", "Home", FormMethod.Post))
        {
            <input type="submit" value="Activate" />
        }

    </div>
    <div align="center" style="padding:20px">
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>


    </div>
    <div align="center" style="padding:20px">
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>

    </div>
    <div align="center" style="padding:20px">
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
        <button role="button" class="btn btn-success btn-lg button">Hello Click me</button>
*@